/Base.class
/JavaConcepts$A.class
/JavaConcepts$Enum.class
/JavaConcepts$QWE.class
/JavaConcepts$Sexo$Sexo_.class
/JavaConcepts$Sexo.class
/JavaConcepts$Teste.class
/JavaConcepts$Ugly.class
/JavaConcepts.class
/PrettyPrintVisitor.class
/XXX.class
