/ArrayType$ArrayBracketPair.class
/ArrayType.class
/ClassOrInterfaceType.class
/IntersectionType.class
/PrimitiveType$Primitive.class
/PrimitiveType.class
/ReferenceType.class
/Type.class
/TypeParameter.class
/UnionType.class
/UnknownType.class
/VoidType.class
/WildcardType.class
