/AccessSpecifier.class
/AllFieldsConstructor.class
/ArrayCreationLevel.class
/CompilationUnit.class
/DataKey.class
/ImportDeclaration.class
/Modifier.class
/Node$ObserverRegistrationMode.class
/Node.class
/NodeList.class
/PackageDeclaration.class
