/AnnotationExpr.class
/ArrayAccessExpr.class
/ArrayCreationExpr.class
/ArrayInitializerExpr.class
/AssignExpr$Operator.class
/AssignExpr.class
/BinaryExpr$Operator.class
/BinaryExpr.class
/BooleanLiteralExpr.class
/CastExpr.class
/CharLiteralExpr.class
/ClassExpr.class
/ConditionalExpr.class
/DoubleLiteralExpr.class
/EnclosedExpr.class
/Expression.class
/FieldAccessExpr.class
/InstanceOfExpr.class
/IntegerLiteralExpr.class
/LambdaExpr.class
/LiteralExpr.class
/LiteralStringValueExpr.class
/LongLiteralExpr.class
/MarkerAnnotationExpr.class
/MemberValuePair.class
/MethodCallExpr.class
/MethodReferenceExpr.class
/Name.class
/NameExpr.class
/NormalAnnotationExpr.class
/NullLiteralExpr.class
/ObjectCreationExpr.class
/SimpleName.class
/SingleMemberAnnotationExpr.class
/StringLiteralExpr.class
/SuperExpr.class
/ThisExpr.class
/TypeExpr.class
/UnaryExpr$Operator.class
/UnaryExpr.class
/VariableDeclarationExpr.class
