/ChangingMethodsFromAClassWithAVisitorTest.class
/ChangingMethodsFromAClassWithoutAVisitorTest.class
/ClassCreator.class
/CreatingACompilationUnitFromScratch.class
/CuPrinter.class
/MethodChanger_1$MethodChangerVisitor.class
/MethodChanger_1.class
/MethodChanger_2.class
/MethodPrinter$MethodVisitor.class
/MethodPrinter.class
/PrintingTheCompilationUnitToSystemOutputTest.class
/TestFileToken.class
/VisitingClassMethodsTest.class
