/AnnotationDeclaration.class
/AnnotationMemberDeclaration.class
/BodyDeclaration.class
/CallableDeclaration.class
/ClassOrInterfaceDeclaration.class
/ConstructorDeclaration.class
/EmptyMemberDeclaration.class
/EnumConstantDeclaration.class
/EnumDeclaration.class
/FieldDeclaration.class
/InitializerDeclaration.class
/MethodDeclaration.class
/Parameter.class
/TypeDeclaration.class
/VariableDeclarator$1.class
/VariableDeclarator.class
