/CloneVisitor.class
/EqualsVisitor.class
/GenericListVisitorAdapter.class
/GenericVisitor.class
/GenericVisitorAdapter.class
/HashCodeVisitor.class
/ModifierVisitor.class
/TreeStructureVisitor.class
/TreeVisitor.class
/Visitable.class
/VoidVisitor.class
/VoidVisitorAdapter.class
