/NodeWithAbstractModifier.class
/NodeWithAccessModifiers.class
/NodeWithFinalModifier.class
/NodeWithPrivateModifier.class
/NodeWithProtectedModifier.class
/NodeWithPublicModifier.class
/NodeWithStaticModifier.class
/NodeWithStrictfpModifier.class
