/AnnotationDeclarationTransformationsTest.class
/AnnotationMemberDeclarationTransformationsTest.class
/ClassOrInterfaceDeclarationTransformationsTest.class
/ConstructorDeclarationTransformationsTest.class
/EnumConstantDeclarationTransformationsTest.class
/EnumDeclarationTransformationsTest.class
/FieldDeclarationTransformationsTest.class
/InitializerDeclarationTransformationsTest.class
/MethodDeclarationTransformationsTest.class
